*.pro.user*
.directory
CMakeLists.txt.user*
*.fingerprint
build*
*.qmlc
*.jsc
.stash
target.cfg
src/Simulator/*
!src/Simulator/main.cpp
!src/Simulator/CMakeLists.txt
!src/Simulator/Simulator.pro
src/App/Calculator/*
lib/AppCore/Calculator*
lib/AppCore/Imports/*
lib/AppCore/imports.qrc
lib/GreenHouse/*
wizards/*
