*.pro.user*
.directory
CMakeLists.txt.user*
*.fingerprint
build*
*.qmlc
*.jsc
.stash
target.cfg
src/App/Calculator/*
src/Simulator/qml/*
src/Simulator/simulator.*
src/Simulator/*qrc
lib/AppCore/Calculator*
lib/AppCore/Imports/*
lib/AppCore/imports.qrc
lib/GreenHouse/*
wizards/*
